html,body { width:100%; height:100%; margin:0; padding:0; overflow: hidden; background: #ebe9e5; }
.backgrounds, .main, .logo { display: none; }
.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.backgrounds > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.bg {
    background-image: url(../img/bg.png);
    z-index: 5;
}
.bg2 {
    background-image: url(../img/bg2.png);
    z-index: 1;
}
#particles-js {
    width: 100%;
    height: 100%;
    z-index: 35;
    opacity: .25;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.logo {
    width: 360px;
    height: auto;
    position: absolute;
    z-index: 50;
    bottom: -100px;
    right: -100px;
    opacity: .09;
    border-radius: 50%;
    transition: opacity 2.2s;
}
.logo:hover {
    opacity: .65;
}
.beacons-logo {
    display: none;
    height: 28px;
    width: auto;
    position: absolute;
    z-index: 50;
    top: 30px;
    left: 30px;
}

.main {
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 45;
    top: 50%;
    transform: translateY(-50%);
}
.computer {
    color: #bc0c11;
    font-size: 36px;
    font-weight: 300;
}
.input {
    position: relative;
    display: none;
    border-bottom: 1px solid #bc0c11;
    width: 360px;
    height: 40px;
    top: 0;
    opacity: 1;
}
.input#placeholder {
    width: 0;
    display: inline-block;
}
.input, .input input {
    font-size: 28px;
    font-weight: 300;
    color: rgba(0,0,0,0.5);
    font-family: inherit;
    text-align: left;
}
input {
    margin-left: 30px;
    width: 285px;
    outline: none;
    background: none;
    border: none;
    height: 30px;
    padding-bottom: 10px;
}
.input.transitions {
    transition: opacity 2s, top .6s ease-in;
}
.input.hidden {
    opacity: 0;
    top: 120px;
}
.chevron {
    cursor: pointer;
    right: 15px;
    bottom: 10px;
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(32,32,32,0.5);

    transition: border-left-color .7s;
}
.chevron:hover {
    border-left-color: rgba(32,32,32,0.8);
}


@media (max-width: 600px) {

    html, body { max-width: 100%; }

    .main {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(235,233,229,0.4);
        transform: translateY(0);
        padding-top: 30px;
    }

    .input, .input input {
        max-width: 100%;
        margin: 0 15px;
    }

    .logo {
        display: none !important;
    }
}