html,body,.container { width:100%; height:100%; margin:0; padding:0; overflow: hidden; background: #ebe9e5; }
.backgrounds, .logo { display: none; }
.backgrounds > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.bg {
    background-image: url(../img/bg.png);
    z-index: 5;
}
.bg2 {
    background-image: url(../img/bg2.png);
    z-index: 1;
}
#particles-js {
    width: 100%;
    height: 100%;
    z-index: 35;
    opacity: .25;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.logo {
    width: 360px;
    height: auto;
    position: absolute;
    z-index: 50;
    bottom: -100px;
    right: -100px;
    opacity: .09;
    border-radius: 50%;
    transition: opacity 2.2s;
}
.logo:hover {
    opacity: .65;
}
.beacons-logo {
    cursor: pointer;
    display: none;
    height: 28px;
    width: auto;
    position: absolute;
    z-index: 50;
    top: 30px;
    left: 30px;
    opacity: .8;
}
.beacons-logo:hover {
    opacity: 1;
}

.survey-container {
    position: relative;
    z-index: 45;
    width: 100%;
    height: 100%;
    text-align: center;
}

.question-container, .survey-container:before {
    display: inline-block;
    vertical-align: middle;
}
.survey-container:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    /* this just takes care of whitespace added by having display:inline-block (there are other methods) */
    margin-left: -0.25em;

}

.question-text {
    color: #bc0c11;
    line-height: 150%;
    font-size: 22px;
    font-weight: bold;
    max-width: 20em;
    margin-bottom: 30px;
}
.question-text.typing span {
    opacity: 0;
    transition: opacity .35s;
    -webkit-transition: opacity .35s;
}
.question-text.typing span.typed {
    opacity: 1;
}

.inputs {
    width: 100%;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
   color: rgba(0,0,0,0.4);
}

.input input {
    margin-left: 30px;
    width: 285px;
    outline: none;
    background: none;
    border: none;
    height: 30px;
    padding-bottom: 10px;
    font: inherit;
}

.input {
    text-align: left;
    position: relative;
    border-bottom: 1px solid #bc0c11;
    margin-bottom: 30px;
    width: 360px;
    height: 40px;
    font-size: 22px;
    font-weight: 300;
    color: rgba(0,0,0,0.65);
    font-family: inherit;
}

.next-chevron {
    cursor: pointer;
    right: 15px;
    bottom: 5px;
    position: absolute;
    width: 22px; 
    height: 30px;
    line-height: 30px;
}
.next-chevron:after {
    content: ">";
    font-size: 22px;

}
.next-chevron:hover {
    opacity: .5;
}

.next-button, .boxed-button {
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: black;
    font-weight: 400;
}
.next-button:hover, .boxed-button:hover {
    opacity: .5;
}
.next-button {
    text-align: right;
}
.boxed-button {
    display: inline-block;
    padding: 10px 45px;
    border: 1px solid #bc0c11;
}

.survey-box {
    width: 500px;
    height: 300px;
    border: 1px solid #bc0c11;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -250px;
    z-index: 51;
}
.survey-box:after {
    content: "";
    z-index: -5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../img/bg2.png);
}
.survey-box .navigation {
    border-top: 1px solid #bc0c11;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}

.survey-box .back-button, .survey-box .next-button {
    width: auto !important;
}
.survey-box .back-button, .survey-box .progress, .survey-box .next-button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 18px;
    vertical-align: middle;
    padding: 0 20px;
}
.survey-box .back-button {
    cursor: pointer;
    border-right: 1px solid #bc0c11;
    color: rgba(0,0,0,0.65);
}
.survey-box .progress {
    text-align: center;
    margin: auto;
    width: 300px;
}

.progress .marker {
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #bc0c11;
    transition: background-color 1.5s;
    background-color: rgba(0,0,0,0);
}
.progress .marker.active {
    background-color: rgba(0,0,0,0.4);
}

.survey-box .next-button {
    text-align: right;
    float: right;
    cursor: pointer;
    border-left: 1px solid #bc0c11;
}

.survey-box .question-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: auto;
    position: absolute;
    top: 60px;
    bottom: 110px;
    left: 0;
    right: 0;
}
.survey-box .question-text {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.survey-box .inputs, .survey-box .slider-container {
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.survey-box .input {
    margin: auto;
}

.survey-box .slider-container {
    bottom: 22px;
    margin: auto;
    width: 400px;
    border-bottom: 1px solid #bc0c11;
}

.survey-box .slider-container .divider {
    position: absolute;
    height: 15px;
    width: 1px;
    top: -7px;
    border-left: 1px solid #bc0c11;
}
.survey-box .slider-container .divider:after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    top: -0;
    left: -8px;
    background: rgba(0,0,0,0);
    transition: background .25s;
    -webkit-transition: background .25s;
    border-radius: 50%;
    cursor: pointer;
}
.survey-box .slider-container .divider:hover:after {
    background: rgba(0,0,0,0.18);
}
.survey-box .slider-value {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    font-weight: lighter;
    font-size: 22px;
}
.survey-box .slider-value:after {
    content: "drag the red dot";
    display: block;
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #555;
}
.survey-box .slider-container .draggable-dot {
    position: absolute;
    height: 15px;
    width: 15px;
    top: -7px;
    left: 7px;
    background: #bc0c11;
    border-radius: 50%;
    cursor: ew-resize;
}

.loader {
  margin: 125px auto;
  font-size: 22px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #bc0c11, 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2), 2.5em 0em 0 0em rgba(188, 12, 17, 0.2), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.2), 0em 2.5em 0 0em rgba(188, 12, 17, 0.2), -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.2), -2.6em 0em 0 0em rgba(188, 12, 17, 0.5), -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.7), 1.8em -1.8em 0 0em #bc0c11, 2.5em 0em 0 0em rgba(188, 12, 17, 0.2), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.2), 0em 2.5em 0 0em rgba(188, 12, 17, 0.2), -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.2), -2.6em 0em 0 0em rgba(188, 12, 17, 0.2), -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.5), 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.7), 2.5em 0em 0 0em #bc0c11, 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.2), 0em 2.5em 0 0em rgba(188, 12, 17, 0.2), -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.2), -2.6em 0em 0 0em rgba(188, 12, 17, 0.2), -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.2), 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.5), 2.5em 0em 0 0em rgba(188, 12, 17, 0.7), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.2), 0em 2.5em 0 0em rgba(188, 12, 17, 0.2), -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.2), -2.6em 0em 0 0em rgba(188, 12, 17, 0.2), -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.2), 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2), 2.5em 0em 0 0em rgba(188, 12, 17, 0.5), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.7), 0em 2.5em 0 0em #bc0c11, -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.2), -2.6em 0em 0 0em rgba(188, 12, 17, 0.2), -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.2), 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2), 2.5em 0em 0 0em rgba(188, 12, 17, 0.2), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.5), 0em 2.5em 0 0em rgba(188, 12, 17, 0.7), -1.8em 1.8em 0 0em #bc0c11, -2.6em 0em 0 0em rgba(188, 12, 17, 0.2), -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.2), 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2), 2.5em 0em 0 0em rgba(188, 12, 17, 0.2), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.2), 0em 2.5em 0 0em rgba(188, 12, 17, 0.5), -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.7), -2.6em 0em 0 0em #bc0c11, -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.2), 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2), 2.5em 0em 0 0em rgba(188, 12, 17, 0.2), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.2), 0em 2.5em 0 0em rgba(188, 12, 17, 0.2), -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.5), -2.6em 0em 0 0em rgba(188, 12, 17, 0.7), -1.8em -1.8em 0 0em #bc0c11;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #bc0c11, 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2), 2.5em 0em 0 0em rgba(188, 12, 17, 0.2), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.2), 0em 2.5em 0 0em rgba(188, 12, 17, 0.2), -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.2), -2.6em 0em 0 0em rgba(188, 12, 17, 0.5), -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.7), 1.8em -1.8em 0 0em #bc0c11, 2.5em 0em 0 0em rgba(188, 12, 17, 0.2), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.2), 0em 2.5em 0 0em rgba(188, 12, 17, 0.2), -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.2), -2.6em 0em 0 0em rgba(188, 12, 17, 0.2), -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.5), 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.7), 2.5em 0em 0 0em #bc0c11, 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.2), 0em 2.5em 0 0em rgba(188, 12, 17, 0.2), -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.2), -2.6em 0em 0 0em rgba(188, 12, 17, 0.2), -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.2), 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.5), 2.5em 0em 0 0em rgba(188, 12, 17, 0.7), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.2), 0em 2.5em 0 0em rgba(188, 12, 17, 0.2), -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.2), -2.6em 0em 0 0em rgba(188, 12, 17, 0.2), -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.2), 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2), 2.5em 0em 0 0em rgba(188, 12, 17, 0.5), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.7), 0em 2.5em 0 0em #bc0c11, -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.2), -2.6em 0em 0 0em rgba(188, 12, 17, 0.2), -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.2), 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2), 2.5em 0em 0 0em rgba(188, 12, 17, 0.2), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.5), 0em 2.5em 0 0em rgba(188, 12, 17, 0.7), -1.8em 1.8em 0 0em #bc0c11, -2.6em 0em 0 0em rgba(188, 12, 17, 0.2), -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.2), 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2), 2.5em 0em 0 0em rgba(188, 12, 17, 0.2), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.2), 0em 2.5em 0 0em rgba(188, 12, 17, 0.5), -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.7), -2.6em 0em 0 0em #bc0c11, -1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(188, 12, 17, 0.2), 1.8em -1.8em 0 0em rgba(188, 12, 17, 0.2), 2.5em 0em 0 0em rgba(188, 12, 17, 0.2), 1.75em 1.75em 0 0em rgba(188, 12, 17, 0.2), 0em 2.5em 0 0em rgba(188, 12, 17, 0.2), -1.8em 1.8em 0 0em rgba(188, 12, 17, 0.5), -2.6em 0em 0 0em rgba(188, 12, 17, 0.7), -1.8em -1.8em 0 0em #bc0c11;
  }
}

@media (max-width: 600px) {

    html, body { max-width: 100%; }

    .survey-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }
    .survey-container:before {
        display: none;
    }

    .question-text {
        word-wrap: break-word;
        white-space: pre-wrap;
        width: auto;
        margin: 0 15px 22px;
        max-width: 360px;
    }
    .inputs, .next-button {
        width: 90%;
        margin: auto;
        max-width: 360px;
    }
    .input  {
        margin: 0 auto 22px;
        width: auto;
    }

    .logo, .beacons-logo {
        display: none !important;
    }

    .survey-box {
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .survey-box .progress {
        padding: 0 5px;
    }
    .survey-box .progress .marker {
        margin: 0 5px;
    }
}