.answer-box {
    display: none;
    width: 450px;
    height: 300px;
    border: 1px solid #bc0c11;
    border-top: none;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -225px;
    z-index: 51;
}

.answer-box .navigation {
    border-top: 1px solid #bc0c11;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}
.answer-box .back-button, .answer-box .progress, .answer-box .next-button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 18px;
    vertical-align: middle;
    padding: 0 30px;
}
.answer-box .back-button {
    cursor: pointer;
    border-right: 1px solid #bc0c11;
    color: rgba(0,0,0,0.65);
}
.answer-box .progress {
    border-right: 1px solid #bc0c11;
}

.progress .marker {
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #bc0c11;
}
.progress .marker.active {
    background: rgba(0,0,0,0.6);
}

.answer-box .next-button {
    text-align: right;
    float: right;
    cursor: pointer;
}