.answer-box {
    display: none;
    width: 500px;
    height: 300px;
    border: 1px solid #bc0c11;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -250px;
    z-index: 51;
}

.info { display: none; }

.computer2, .computer2 .text {
    word-wrap: break-word;
    white-space: pre-wrap;
    width: auto;
    margin: auto;
    max-width: 360px;
    position: absolute;
    bottom: 50%;
}
.computer2 {
    left: 50px;
    right: 50px;
    margin-bottom: 30px;
}
.computer2 .text {
    left: 0;
    right: 0;
}

.answer-box .navigation {
    border-top: 1px solid #bc0c11;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}
.answer-box .back-button, .answer-box .progress, .answer-box .next-button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 18px;
    vertical-align: middle;
    padding: 0 20px;
}
.answer-box .back-button {
    cursor: pointer;
    border-right: 1px solid #bc0c11;
    color: rgba(0,0,0,0.65);
}
.answer-box .progress {
    border-right: 1px solid #bc0c11;
}

.progress .marker {
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #bc0c11;
    transition: background-color 1.5s;
    background-color: rgba(0,0,0,0);
}
.progress .marker.active {
    background-color: rgba(0,0,0,0.4);
}

.answer-box .next-button {
    text-align: right;
    float: right;
    cursor: pointer;
}

.user-answer {
    position: absolute;
    top: 50%;
    left: 50px;
    right: 50px;
    margin-top: 0;
    text-align: center;
}
.user-answer .input-db {
    text-align: center;
    margin: 0 25px;
}
.ui-widget-content {
    height: 2px;
    border: none;
    background: rgba(0,0,0,0.4);
    margin: 0 25px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    display: block;
    width: 15px;
    height: 15px;
    top: -6px;
    border: none;
    border-radius: 50%;
    background: #bc0c11;
    cursor: ew-resize;
}
.slider-value {
    text-align: center;
    color: black;
    font-size: 16px;
    width: 100%;
    display: inline-block;
    margin-top: 15px;
}